$header-color: #b2e7e8;
$content-color: #304d63;
$nav-color: #f2d096;
$footer-color: #ed8975;
$white: #fff;

h1 {
  height: 28px;
  margin-bottom: 40px;
}

.text-box {
  margin-bottom: 40px;

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.example {
  margin-bottom: 40px;

  .container {
    display: grid;
    grid-gap: 10px; //column-gap, row-gap 같이 써줄때
    grid-template-columns: 250px 250px 250px; //각 width 값을 설정 할 수 있다.
    grid-template-rows: 100px 50px 300px;

    .item {
      align-items: center;
      background-color: $header-color;
      color: $white;
      display: flex;
      font-size: 50px;
      justify-content: center;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);

  .header {
    background-color: $header-color;
    color: $white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    grid-column-end: 5;
    grid-column-start: 1; //라인이 1에서 시작해서 5로 끝남
  }

  .content {
    background-color: $content-color;
    color: $white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .nav {
    background-color: $nav-color;
    color: $white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 4;

  }

  .footer {
    background-color: $footer-color;
    color: $white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
