$header-color: #b2e7e8;
$content-color: #304d63;
$nav-color: #f2d096;
$footer-color: #ed8975;
$white: #fff;


h1 {
  height: 28px;
  margin-bottom: 40px;
}

.text-box {
  margin-bottom: 40px;

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.example {
  margin-bottom: 40px;

  .container {
    display: grid;
    grid-gap: 10px; //column-gap, row-gap 같이 써줄때
    grid-template-columns: 250px 250px 250px; //각 width 값을 설정 할 수 있다.
    grid-template-rows: 100px 50px 300px;

    .item {
      align-items: center;
      background-color: $header-color;
      color: $white;
      display: flex;
      font-size: 50px;
      justify-content: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 300px 300px 300px 300px;

  .header {
    background-color: $header-color;
  }

  .content {
    background-color: $content-color;
  }

  .nav {
    background-color: $nav-color;
  }

  .footer {
    background-color: $footer-color;
  }
}
